
<footer class="page-footer footerColor">
  <div class="container">
    <div class="row">
      <div class="col s12 l8 ">
        <h5 class="white-text">Mesa de ayuda</h5>
        <p class="white-text text-lighten-4 ">(562) 2 999 99999 - 2 888 88888</p>
        <p class="white-text text-lighten-4"><strong>Universidad de Santiago de Chile</strong><br/>Av. Libertador Bernardo O'Higgins 3363, Santiago, Región Metropolitana</p>
      </div>
      <div class="col s12 l4">
        <div class="icon-block center">
          <h2>
            <%= image_tag "logousach.png", style:"max-width: 42.5%; max-height: 42.5%;" %>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
      © 2015 Copyright Text
    </div>
  </div>
</footer>
