<% provide :title, 'Home' %>
<!-- Aqui empieza contenido -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text"><%= image_tag "manuel.gif"%></h1>
    <div class="row center">
      <h5 class="header col s12 light azul-oscuro">
        MANejador Universal de Encuestas Libres para trabajo en equipo
      </h5>
      <p class="azul-oscuro">A través de esta aplicación usted podrá crear, 
      editar, enviar y obtener resultados de encuestas aplicadas a grupos de 
      estudiantes con los cuales podrá medir habilidades y capacidades de 
      ellos.</p>
    </div>
    <div class="row center">
      <%= link_to "Ingresar",'auth/google_oauth2', id: "download-button", class: "btn-large waves-effect waves-light" %>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center turquesa"><%= icon 'university' %></h2>
          <h5 class="center azul-oscuro">Profesor</h5>

          <p class="azul-oscuro" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum euismod placerat. Nunc et mauris sollicitudin risus dapibus accumsan. Proin convallis facilisis imperdiet. Nam sit amet nisi libero. Aliquam placerat vitae felis.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center turquesa"><i class="fa fa-graduation-cap"></i></h2>
          <h5 class="center azul-oscuro">Alumno</h5>

          <p class="azul-oscuro" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum euismod placerat. Nunc et mauris sollicitudin risus dapibus accumsan. Proin convallis facilisis imperdiet. Nam sit amet nisi libero. Aliquam placerat vitae felis.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
<!-- Aqui termina contenido -->
