<p id="notice"><%= notice %></p>

<p>
  <strong>Encuesta pregunta:</strong>
  <%= @encuesta_preguntum.Encuesta_Pregunta_id %>
</p>

<%= link_to 'Edit', edit_encuesta_preguntum_path(@encuesta_preguntum) %> |
<%= link_to 'Back', encuesta_pregunta_path %>
